export(buildStrataDF,optimizeStrata,tuneParameters,updateStrata,updateFrame,selectSample,selectSampleSystematic,KmeansSolution,checkInput,bethel,var.bin,evalSolution,plotSamprate,adjustSize,buildFrameDF,buildFrameSpatial,expected_CV,optimizeStrata2,plotStrata2d,summaryStrata,assignStrataLabel,KmeansSolution2,KmeansSolutionSpatial,optimizeStrataSpatial,buildStrataDFSpatial,aggrStrata2,aggrStrataSpatial,computeGamma,optimStrata,selectSampleSpatial,procBethel)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "boxplot", "close.screen", "lines", "plot", "screen", "split.screen", "title","points","abline", "barplot", "par")
importFrom("stats", "aggregate", "kmeans", "runif", "sd")
importFrom("utils", "read.delim", "write.table")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("memoise","memoise")
importFrom("grDevices","png")
importFrom("utils", "install.packages","globalVariables")
importFrom("doParallel", "registerDoParallel")
importFrom("parallel", "clusterExport","detectCores","makePSOCKcluster","stopCluster")
importFrom("pbapply", "pblapply")
importFrom("grDevices", "rainbow")
importFrom("graphics", "legend")
importFrom("stats", "dnorm","cov","var")
importFrom("SamplingBigData","lpm2_kdtree")
importFrom("glue","glue")
importFrom("methods", "is")
useDynLib(SamplingStrata, .registration=TRUE)
importFrom(Rcpp, evalCpp)
